@mixin tweaks {
    /* Tweaks for PDF export via Chrome print-to-PDF ****************************
     *
     * see https://github.com/gnab/remark/issues/50#issuecomment-327391929
     */
    @page {
        size: 1210px 681px;
        margin: 0;
    }
    @media print {
        .remark-slide-scaler {
            width: 100% !important;
            height: 100% !important;
            transform: scale(1) !important;
            top: 0 !important;
            left: 0 !important;
        }
    }
}
