body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
}
.remark-code, .remark-inline-code { font-size: 1.5rem; }
pre {
    padding-left: 1em;
    border-left: 5px solid #aaa;
}

hr {
    border-top: 4px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0 20%;
}

.remark-slide-content img {
    max-height: 494px;
    max-width: 800px;
}
.smaller-img img {
    max-height: 330px;
}
.title, .title.teal {
    background: no-repeat right top/auto 75% url(assets/logo-bg-1.png), rgb(0, 179, 201) !important;
    border-bottom: none !important;
    color: white;
    padding-right: 25%;
}
.title.purple {
    background: no-repeat right top/auto 75% url(assets/logo-bg-1.png), rgb(128, 63, 146) !important;
}
.title.lime {
    background: no-repeat right top/auto 75% url(assets/logo-bg-1.png), rgb(203, 219, 42) !important;
}
.title h1, .title h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

a, a:visited {
    color: rgb(0, 179, 201);
}
.title a, .title a:visited {
    color: white;
}

.remark-slide-content, .remark-slide-content.teal {
    background: no-repeat right 30px top 30px / auto 100px url(assets/logo-small.png), white;
    border-bottom: rgb(0, 179, 201) solid 2em;
    font-size: 30px;
}
.remark-slide-content.purple {
    border-bottom: rgb(128, 63, 146) solid 2em;
}
.remark-slide-content.lime {
    border-bottom: rgb(203, 219, 42) solid 2em;
}

.remark-slide-content .center {
    clear: both;
}

.hl, .hl-lime {
    background-color: rgb(203, 219, 42);
}
.hl-teal {
    background-color: rgb(0, 179, 201);
}
.hl-purple {
    background-color: rgb(128, 63, 146);
}
.tx-teal {
    color: rgb(0, 179, 201);
}
.tx-purple {
    color: rgb(128, 63, 146);
}
.tx-lime {
    color: rgb(203, 219, 42);
}
.tx-dim {
    color: rgb(180, 180, 180);
}

#slide-thanks {
    background: no-repeat right 1em top 1em / auto 100px url(assets/logo-small.png),
                no-repeat center/cover url(assets/courtney-hedger-t48eHCSCnds-unsplash.jpg);
    border-bottom: rgb(0, 179, 201) solid 2em;
    font-size: 30px;
}
#slide-thanks::after {
    content: "Photo by Courtney Hedger on Unsplash";
    font-style: italic;
    font-size: 50%;
    color: #aaa;
}

.col {
    float: left;
    width: 45%;
    padding-right: 5%;
}

.pillar {
    width: 25%;
    margin: 0.5em;
    padding: 5em 0.5em;
    background: rgb(203, 219, 42);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.photo-credit, .citation {
    font-style: italic;
    font-size: 50%;
    line-height: 120%;
}
.photo-credit, .photo-credit a,
.citation, .citation a
{
    color: #aaa;
}
.citation {
    display: block;
    text-align: left;
}

/* Tweaks for PDF export via Chrome print-to-PDF ****************************
 *
 * see https://github.com/gnab/remark/issues/50#issuecomment-327391929
 */
@page {
    size: 1210px 681px;
    margin: 0;
}
@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}
